@import '../../shared-styles/index';

.metric-dashboard {
  position: fixed;
  top: 0;
  left: 0;
}

.speed-display {
  color: #fff;
  font-family: Impact;
  font-size: 7rem;

  small {
    color: $color-accent;
  }
}

.speed-display-overdrive {
  color: orange;
  animation-name: overdrive;
  animation-duration: 0.10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes overdrive {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}