@import '../../shared-styles/index';

.speed-display {
  color: #111;
  font-size: $font-size-large;

  small {
    color: #555;
  }
}

.speed-display-overdrive {
  color: orange;
  animation-name: overdrive;
  animation-duration: 0.10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes overdrive {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}