@import url('https://fonts.googleapis.com/css?family=Abel');

$color-accent: rgb(57, 201, 214);
$color-action: rgb(253, 181, 69);

$font-size-small: 1rem;
$font-size-regular: 1.25rem;
$font-size-large: 1.5rem;

$padding-row-small: 0.5rem;
$padding-row-regular: 1rem;
$padding-row-large: 2rem;

$padding-column-small: 0.5rem;
$padding-column-regular: 1rem;
$padding-column-large: 2rem;

// Simple reset (Not every performant)
* {
  margin: 0;
  padding: 0;
}

// Global styles 
// TODO: Offload these to components
p {
  padding-bottom: $padding-row-regular;
}
