@import '../../shared-styles/index';

.speed-display {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  color: #111;
  font-size: $font-size-large;

  small {
    font-size: $font-size-regular;
    display: block;
    width: 100%;
    text-align: center;
    color: #666;
  }
}

.speed-display-large {
  font-size: 5rem;
}

.speed-display-overdrive {
  animation-name: overdrive;
  animation-duration: 0.10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes overdrive {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
